.reset-this {
    animation : none;
    animation-delay : 0;
    animation-direction : normal;
    animation-duration : 0;
    animation-fill-mode : none;
    animation-iteration-count : 1;
    animation-name : none;
    animation-play-state : running;
    animation-timing-function : ease;
    backface-visibility : visible;
    background : 0;
    background-attachment : scroll;
    background-clip : border-box;
    background-color : transparent;
    background-image : none;
    background-origin : padding-box;
    background-position : 0 0;
    background-position-x : 0;
    background-position-y : 0;
    background-repeat : repeat;
    background-size : auto auto;
    border : 0;
    border-style : none;
    border-width : medium;
    border-color : inherit;
    border-bottom : 0;
    border-bottom-color : inherit;
    border-bottom-left-radius : 0;
    border-bottom-right-radius : 0;
    border-bottom-style : none;
    border-bottom-width : medium;
    border-collapse : separate;
    border-image : none;
    border-left : 0;
    border-left-color : inherit;
    border-left-style : none;
    border-left-width : medium;
    border-radius : 0;
    border-right : 0;
    border-right-color : inherit;
    border-right-style : none;
    border-right-width : medium;
    border-spacing : 0;
    border-top : 0;
    border-top-color : inherit;
    border-top-left-radius : 0;
    border-top-right-radius : 0;
    border-top-style : none;
    border-top-width : medium;
    bottom : auto;
    box-shadow : none;
    box-sizing : content-box;
    caption-side : top;
    clear : none;
    clip : auto;
    color : inherit;
    columns : auto;
    column-count : auto;
    column-fill : balance;
    column-gap : normal;
    column-rule : medium none currentColor;
    column-rule-color : currentColor;
    column-rule-style : none;
    column-rule-width : none;
    column-span : 1;
    column-width : auto;
    content : normal;
    counter-increment : none;
    counter-reset : none;
    cursor : auto;
    direction : ltr;
    display : inline;
    empty-cells : show;
    float : none;
    font : normal;
    font-family : inherit;
    font-size : medium;
    font-style : normal;
    font-variant : normal;
    font-weight : normal;
    height : auto;
    hyphens : none;
    left : auto;
    letter-spacing : normal;
    line-height : normal;
    list-style : none;
    list-style-image : none;
    list-style-position : outside;
    list-style-type : disc;
    margin : 0;
    margin-bottom : 0;
    margin-left : 0;
    margin-right : 0;
    margin-top : 0;
    max-height : none;
    max-width : none;
    min-height : 0;
    min-width : 0;
    opacity : 1;
    orphans : 0;
    outline : 0;
    outline-color : invert;
    outline-style : none;
    outline-width : medium;
    overflow : visible;
    overflow-x : visible;
    overflow-y : visible;
    padding : 0;
    padding-bottom : 0;
    padding-left : 0;
    padding-right : 0;
    padding-top : 0;
    page-break-after : auto;
    page-break-before : auto;
    page-break-inside : auto;
    perspective : none;
    perspective-origin : 50% 50%;
    position : static;
    /* May need to alter quotes for different locales (e.g fr) */
    quotes : '\201C' '\201D' '\2018' '\2019';
    right : auto;
    tab-size : 8;
    table-layout : auto;
    text-align : inherit;
    text-align-last : auto;
    text-decoration : none;
    text-decoration-color : inherit;
    text-decoration-line : none;
    text-decoration-style : solid;
    text-indent : 0;
    text-shadow : none;
    text-transform : none;
    top : auto;
    transform : none;
    transform-style : flat;
    transition : none;
    transition-delay : 0s;
    transition-duration : 0s;
    transition-property : none;
    transition-timing-function : ease;
    unicode-bidi : normal;
    vertical-align : baseline;
    visibility : visible;
    white-space : normal;
    widows : 0;
    width : auto;
    word-spacing : normal;
    z-index : auto;
}

.dbgMsg,
.debugMsg {
  color: white;
}

.infoMsg {
  color: DarkTurquoise;
}
.noticeMsg {
  color: DarkTurquoise;
  text-decoration: underline;
}
.errMsg,
.errorMsg {
  font: bold 12px verdana,arial;
  color: red;
}
.panicMsg {
  font: bold 14px verdana,arial;
  color: red;
  text-decoration: blink;
  -moz-text-blink: blink;

}

.aegisConsole-Container {
  position: absolute;
//  position: relative;
  top: 7px;
  left: 7px;
  width: 200px;
  z-index: 1;
  cursor: move;
//  z-index: 999999;
}

.aegisConsole-Header,
.aegisConsole-Toolbox
{
  width: 200px;
  left: 7px;
//  top: 92px;
//  position: absolute;
  white-space: pre;
  background-color: #3c5268;
  z-index: 9999999;
  color:  white;
  font-size: 10px;
  overflow-y: hidden;
}

.aegisConsole-Toolbox {
//  height: 85px;
  overflow: hidden;
  word-wrap: normal;
  font-size:12px;
  float: right;
  border-bottom: 1px solid black;
  opacity:  .9;
}

.aegisConsole-small,
.aegisConsole {
  background-color: #3c5268;
  color:  white;
  font-size: 10px;
  white-space: pre;
  left: 7px;
  padding-left: 4px;
  width: 196px;
  height: 52em;
  margin-bottom: 0px;
  padding-bottom: 0px;
  overflow-y: scroll;
  cursor:auto;
}
.aegisConsole-Content,
{
}

.aegisConsole-small {
  height: 12em;
}

.aegisToolbox
{
  white-space: pre;
  background-color: #3c5268;
  z-index: 9999999;
  color:  white;
  font-size: 10px;
  overflow-y: hidden;
  margin-bottom: 5px;
}

.aegisConsole-Header {
  height: 20px;
  text-align: center;
  background-color: #3c5268;
  color: #EB7AE1;
  font-size: 12px;
  opacity: 0.95;
  cursor: pointer;
}

.aegisConsole-Toolbox.span {
  border: 1px solid black;
//  margin-top:15px;
//  padding-top:15px;
  cursor: pointer;
}

.wideRight {
  margin-right:50px;
  padding-right:20px;
}

.aegisToolbox-button {
  background-image : none;
  background-color: #2c4258;
  margin-left: 5px;
  margin-top: 5px;
  margin-right:10px;
  color: #FFF;
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  border-color: #15EDE2;
  padding: 2px 5px 2px 5px;
  float: left;
}

.aegisToolbox-button:hover {
  background-color: #4c6278;
  color:  #15EDE2;
  opacity: 1;
  cursor: pointer;
}
/*    background: none repeat scroll 0 0 #2d4860;
    border-bottom: 3px solid #618db6;
    border-left: 3px solid #618db6;
    border-top: 3px solid #618db6;

color: #6f8dac;
 *
 */
.aegisToolbox-Section
{
  background: none repeat scroll 0 0 #618db6;
  font-size: 12px;
  padding-left: 12px;
  cursor: pointer;
  opacity: 1;
}

.aegisToolbox-label {
  color: deeppink;
  float: left;
  margin-left: 3px;
  margin-top: 5px;
  margin-right:0px;
  font-size: 14px;
  padding-bottom: 3px;
  display: inline;
}
.curGalReg,
.aegisToolbox-text {
  color: cyan;
  float: right;
  margin-left: 0px;
  margin-top: 7px;
  margin-right:10px;
  font-size: 12px;
}
.curGalReg {
  font-size: 16px;
  text-shadow: 1px 1px purple;
  color: cyan;
}

.seperator {
  display: block;
  height: 0px;
}

.hasLabel 
{
  float: right;
  display: inline;
}

input.aegisLoc {
  background-color: #313131;
  border: 1px solid #3b3b3b;
  color: #ffffff;
  font: bold 16px verdana,arial;
  size: 13;
  maxsize: 13;
  width: 8em;
  height: 1em;
  margin-left: 0px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
  padding: 2px 2px 2px 2px;
}

.aegisToolbox-text {
//  float:right;
//  background-color:  #3c5268;
  margin-left: 5px;
  margin-right: 10px;
  margin-top: 5px;
  padding: 2px 5px 2px 5px;
  float: left;
//  left: 7px;
//  position: absolute;
  color: white;
  display: inline;
}

input.aegisToolbox-text-set {
  float: left;
  color: red;
}
